.table-striped table {
    border-collapse: unset;
}
.table-striped tr{
    background-color: #b9d6f0;
}
.table-striped .sub_table tr {
    background-color: white !important;
}
.table-striped table td {
    border: 0px;
}
.table-striped table th {
    text-align: center;
}
.table-striped table td{
    padding: 0px;
}

.table-striped table td, th{
    vertical-align: middle;
   
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    border: 2px solid #719ECE;
}

.table-striped table td input{
    width: -webkit-fill-available;
    border: 0px solid black;
}
form, .table-striped table{
    width: 100%
}
.page-title{
    background-color:#e3e7ec;
}
.table-striped .shadow_header th{
    background-color: black !important;
    color: white;
    font-weight: bold;
    line-height: 20%;
}
.table-striped tbody tr  {
    background-color: rgba(0,0,0,.05) !important;
}
.table-striped {
   border: 1px solid black;
}
.table-striped .sub_table table {
    border: 2px solid black !important;
}
.table-striped .sub_table td {
    border: 2px solid black !important;
}


.sub_table th:first-child {width: 18%;}
.sub_table th:nth-child(2) {width: 74%; }
.sub_table th:nth-child(3) {width: 20%; }
.sub_table th:nth-child(4) {width: 20%; }

.sub_table td:first-child {text-align: center !important;  width: 18%;}
.sub_table td:nth-child(2) {width: 74%; }
.sub_table td:nth-child(3) {width: 20%; }
.sub_table td:nth-child(4) {width: 20%; }



.sub_table td:not(:nth-child(1)):not(:nth-child(2)) input{text-align: center;}

.sub_table table{table-layout: fixed;}
.grade_calculate{
    background-color: rgb(240, 221, 150);
    width: 48%;
    float: right;
    line-height: 30px;
    border: 1px solid black;
}
.grade_calculate th,td{
    padding-left: 5px;
}
.finalResult{width: 10% !important;float: right;margin-bottom: 0px !important;}
.select-container{border: 2px solid black; border-radius: 5px;}
.exercise-label{font-family: sans-serif;font-weight: bold;}
.select-exr{background-color: #b8d4e4;}
.check_answer{text-align: right;}




.table-striped .possibility_table tr {
    background-color: white !important;
}
.table-striped .possibility_table table {
    border: 2px solid black !important;
}
.table-striped .possibility_table td {
    border: 2px solid black !important;
}

.possibility_table th:first-child {width: 5%;}
.possibility_table th:nth-child(2) {width: 10%; }
.possibility_table th:nth-child(3) {width: 10%; }
.possibility_table th:nth-child(4) {width: 10%; }
.possibility_table th:nth-child(5) {width: 10%; }

.possibility_table td:first-child {text-align: center !important;  width: 5%;}
.possibility_table td:nth-child(2) {width: 10%; }
.possibility_table td:nth-child(3) {width: 10%; }
.possibility_table td:nth-child(4) {width: 10%; }
.possibility_table th:nth-child(5) {width: 10%; }
.possibility_table td:not(:nth-child(1)):not(:nth-child(2)) input{text-align: center;}

.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .fixed-layourt{table-layout: fixed;}
  .fixed-layourt tr{background: none;}
  .align-center{text-align: center !important;}